.login{
    
}
.userName{
    width: 100%;
    text-align: right;
}
#login{
    display:inline-block;
    width: 100px;
}
#loginButton{
    width: 80px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td,th {
    border: 1px solid #ddd;
    padding: 8px;
}